@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
/* fonts  */
font-family: "Azeret Mono",
monospace;

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: "Azeret Mono", monospace;
}

header nav {
    width: 80%;
    margin: auto;
}

header nav ul {
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    list-style: none;
}

header .heading {
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}

header nav ul li a {
    text-decoration: none;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}

header nav ul li button {
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    padding: 17px 24px 17px 24px;
}

/* nav section end  */
/* hero section style  */
.hero-section {
    background-image: url(assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 998px;
    height: 582px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 44px;
}

.hero-section .content h1 {
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 0;
}

.hero-section .content p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

.hero-section .content button {
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 21px 24px 21px 24px;
}

.hero-section .content button a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}
/* header section design finished  */
